<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - User List</title>
  <link rel="icon" href="https://novoresume.com/images/media_kit/colorful-simple-logo.png" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <style>
    .card{
      background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    }
  </style>
</head>
<body class="bg-gray-100 text-dark">

  <!-- Navbar -->
  <nav class="p-4 bg-blue-900 shadow-md">
    <div class="flex items-center justify-between max-w-screen-xl px-16 mx-auto">
      <h1 class="text-2xl font-semibold text-white"><a href="/" class="text-white">SwiftCv - Resume Builder</a></h1>
      <div class="flex space-x-4">
        <a href="/" class="px-4 py-2 text-sm text-white duration-300 ease-in-out rounded hover:bg-yellow-500">Home</a>
        <a href="/profile" class="px-4 py-2 text-sm text-white duration-300 ease-in-out rounded hover:bg-yellow-500">Profile</a>
        <!--a href="/view-analytics" class="px-4 py-2 text-sm text-white duration-300 ease-in-out rounded hover:bg-yellow-500">Analytics</a-->
        <% if (user && user.role !== 'user') { %>  
          <a href="/admin" class="px-4 py-2 text-sm text-white duration-300 ease-in-out border-b rounded hover:text-yellow-400">⚡Admin Dashboard </a>
       <% } %>
        
       <a href="/logout" class="px-4 py-2 text-sm text-white duration-300 ease-in-out rounded hover:bg-red-500">Logout</a>
      </div>
    </div>
  </nav>



  <!-- Admin Section: User List -->
  <section class="max-w-screen-xl px-20 py-10 mx-auto">
    <h1 class="mb-8 text-3xl font-semibold text-gray-800">Admin - User List</h1>
  
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <% users.forEach(user => { %>
        <div class="flex items-center justify-between p-6 bg-blue-100 rounded-lg shadow-md card">
          <div> 
            <h2 class="mb-4 text-2xl font-semibold text-white"><%= user.name %></h2>
            <ul class="text-yellow-200">
              <li><span class="font-semibold text-gray-100">Email:</span> <%= user.email %></li>
              <li><span class="font-semibold text-gray-100">Phone:</span> <%= user.phone %></li>
              <li><span class="font-semibold text-gray-100">Role:</span> <%= user.role %></li>
              <li><span class="font-semibold text-gray-100">Gender:</span> <%= user.gender %></li>
              <li><span class="font-semibold text-gray-100">Location:</span> <%= user.location %></li>
            </ul>
          </div>
          
          <!-- Analytics -->
          <div class="relative mx-auto mt-6 w-36 h-36">
            
          </div>
  
        </div>
      <% }) %>
    </div>
  </section>
  
</body>
</html>
